In [1]:
import pandas as pd

In [2]:
formation = pd.read_excel('Commune - Formation/formation.xlsx')

formation2009 = pd.read_excel('Commune - Formation/base-cc-diplomes-formation-2009.xls')
formation2010 = pd.read_excel('Commune - Formation/base-cc-diplomes-formation-2010.xls')
formation2011 = pd.read_excel('Commune - Formation/base-cc-diplomes-formation_2011.xls')
formation2012 = pd.read_excel('Commune - Formation/base-cc-diplomes-formation_2012.xls')
formation2013 = pd.read_excel('Commune - Formation/base-cc-diplomes-formation-2013.xls')
formation2014 = pd.read_excel('Commune - Formation/base-ic-diplomes-formation-2014.xls')

In [3]:
formation2009 = formation2009[formation2009.CODGEO=='69081']
formation2010 = formation2010[formation2010.CODGEO=='69081']
formation2011 = formation2011[formation2011.CODGEO=='69081']
formation2012 = formation2012[formation2012.CODGEO=='69081']
formation2013 = formation2013[formation2013.CODGEO=='69081']
formation2014 = formation2014[formation2014.COM=='69081']

In [4]:
formation2009['ANNEE'] = 2009
formation2010['ANNEE'] = 2010
formation2011['ANNEE'] = 2011
formation2012['ANNEE'] = 2012
formation2013['ANNEE'] = 2013
formation2014 = formation2014.copy()
formation2014['ANNEE'] = 2014

In [5]:
df_formation = formation[['CODGEO','ANNEE','P_POP0205','P_POP0610']]

In [6]:
df_formation2009 = formation2009[['CODGEO','ANNEE','P09_POP0205','P09_POP0610']]

df_formation2009 = (df_formation2009
                            .rename(columns={'P09_POP0205':'P_POP0205',
                                             'P09_POP0610':'P_POP0610'
                                            }))

In [7]:
df_formation2010 = formation2010[['CODGEO','ANNEE','P10_POP0205','P10_POP0610']]

df_formation2010 = (df_formation2010
                            .rename(columns={'P10_POP0205':'P_POP0205',
                                             'P10_POP0610':'P_POP0610'
                                            }))

In [8]:
df_formation2011 = formation2011[['CODGEO','ANNEE','P11_POP0205','P11_POP0610']]

df_formation2011 = (df_formation2011
                            .rename(columns={'P11_POP0205':'P_POP0205',
                                             'P11_POP0610':'P_POP0610'
                                            }))

In [9]:
df_formation2012 = formation2012[['CODGEO','ANNEE','P12_POP0205','P12_POP0610']]

df_formation2012 = (df_formation2012
                            .rename(columns={'P12_POP0205':'P_POP0205',
                                             'P12_POP0610':'P_POP0610'
                                            }))

In [10]:
df_formation2013 = formation2013[['CODGEO','ANNEE','P13_POP0205','P13_POP0610']]

df_formation2013 = (df_formation2013
                            .rename(columns={'P13_POP0205':'P_POP0205',
                                             'P13_POP0610':'P_POP0610'
                                            }))

In [11]:
df_formation2014 = formation2014[['COM','ANNEE','P14_POP0205','P14_POP0610']]

df_formation2014 = (df_formation2014
                            .rename(columns={'COM':'CODGEO',
                                             'P14_POP0205':'P_POP0205',
                                             'P14_POP0610':'P_POP0610'
                                            }))

df_formation2014 = pd.DataFrame(df_formation2014[['P_POP0205','P_POP0610']].sum()).transpose()
df_formation2014['ANNEE'] = 2014
df_formation2014['CODGEO'] = '69081'

In [12]:
df_formation = pd.concat([df_formation, df_formation2009,df_formation2010,df_formation2011,df_formation2012,df_formation2013,df_formation2014], axis=0).sort_values('ANNEE').reset_index(drop=True)

In [13]:
df_formation

  CODGEO  ANNEE   P_POP0205    P_POP0610
0  69081   2009  859.863354  1254.073202
1  69081   2010  854.243223  1187.579539
2  69081   2011  837.581841  1107.330558
3  69081   2012  800.792315  1101.109601
4  69081   2013  800.640241  1070.975417
5  69081   2014  792.902816  1106.319748
6  69081   2015  845.000000  1151.000000
7  69081   2016  885.808604  1169.084398
8  69081   2017  900.258102  1216.020107
9  69081   2018  864.552013  1273.889306

In [14]:
df_formation.to_csv('Data/Commune - formation.csv')

In [ ]:
print("Base Formation charg√©e !")